src/xxdata_11.tar.gz
src/xxdata_11/test.out
src/xxdata_11/xxdata_11-f2pywrappers.f
src/xxdata_11/xxdata_11.pyf
src/xxdata_11/xxdata_11.so
src/xxdata_11/xxdata_11module.c

atomic/_xxdata_11.so
atomic/_xxdata_15.so

adas_data/*.dat

*.swp
*.pyc
.sconsign.dblite
